@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Background */

.bg {
    background-color: #fcf9f9;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #08c728;
}

.nav-bg a {
    color: #1D1115;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #f8eae5;
}

.nav-button {
    color: #f8eae5;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #1D1115;
    margin: 8px 2px;
}


/* Footer */

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: rgb(66, 209, 130);
}