{% extends 'base.html' %} {% load static %} {% block page_title %} Quiz Index{% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="welcome-header">Quiz Index</h1>
        </div>
    </div>
</section>


<section class="quizzes">
    <div class="row">
        <div class="col-6">
            <h3>All Quizzes:</h3>
            <a href="{% url 'create_quiz' %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Create New Quiz</a>
            <ul class="list-group">
                {% for q in qzs %}
                <a href="{% url 'quiz' q.pk %}" class="quiz-link">
                    <li class="list-group-item">{{ q }} - {{ q.created_on }}
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}